// website.scss

@import "helpers/variables";
@import "helpers/typography";
@import "helpers/buttons";
@import "helpers/images";
@import "helpers/components";

.cabecalho {
    background: $gradient-1;
    border-bottom: 1px solid rgba(0, 0, 0, .16);
    padding: 16px 0;
}

.letreiro {
    background: url(../images/cover-masonry.png), $gradient-3;
    background-size: cover;
    padding: 64px 0;

    @media (min-width: 992px) {
        padding: 160px 0;
    }
}

.sinopse01 {
    border-bottom: 1px solid rgba(0, 0, 0, .04);
    padding: 64px 0;

    @media (min-width: 992px) {
        padding: 96px 0;
    }
}

.sinopse02 {
    border-bottom: 1px solid rgba(0, 0, 0, .04);
    padding: 64px 0;

    @media (min-width: 992px) {
        padding: 96px 0;
    }
}

.sinopse03 {
    // border-bottom: 1px solid rgba(0, 0, 0, .04);
    padding: 64px 0;

    @media (min-width: 992px) {
        padding: 96px 0;
    }
}

.cta {
    background: $gradient-2;
    padding: 64px 0;

    .titulo-2 {
        color: white;
    }

    @media (min-width: 992px) {
        padding: 96px 0;
        text-align: center;
    }
}

.depoimentos {
    background: $gradient-3;
    padding: 64px 0;

    @media (min-width: 992px) {
        padding: 96px 0;
        text-align: center;
    }
}

.autor {
    padding: 64px 0;

    @media (min-width: 992px) {
        padding: 96px 0;
    }
}

.rodape {
    background: $gradient-1;
    border-top: 1px solid rgba(0, 0, 0, .16);
    padding: 16px 0;

    .texto-1 {
        color: white;
    }
}