// website.scss

@import "helpers/variables";
@import "helpers/typography";
@import "helpers/buttons";
@import "helpers/images";
@import "helpers/components";

.hero {
    background: url(../images/cover-masonry.png), $gradient-3;
    background-position: left center;
    background-size: cover;
    padding: 64px 0;

    @media (min-width: 992px) {
        padding: 160px 0;
    }
}

.book-01 {
    border-bottom: 1px solid rgba(0, 0, 0, .04);
    padding: 64px 0;

    @media (min-width: 992px) {
        padding: 96px 0;
    }
}

.book-02 {
    border-bottom: 1px solid rgba(0, 0, 0, .04);
    padding: 64px 0;

    @media (min-width: 992px) {
        padding: 96px 0;
    }
}

.book-03 {
    // border-bottom: 1px solid rgba(0, 0, 0, .04);
    padding: 64px 0;

    @media (min-width: 992px) {
        padding: 96px 0;
    }
}

.cta {
    background: $azul;
    padding: 64px 0;

    .titulo-1 {
        color: white;
    }

    @media (min-width: 992px) {
        padding: 96px 0;
    }
}

.testimonials {
    background: $grey-light;
    padding: 64px 0;

    @media (min-width: 992px) {
        padding: 96px 0;
        text-align: center;
    }
}

.author {
    padding: 64px 0;

    @media (min-width: 992px) {
        padding: 96px 0;
    }
}

.footer {
    background: $azul;
    padding: 16px 0;

    .texto-1 {
        color: white;
    }
}