// buttons.scss

.botao {
    border-radius: 0;
    display: inline-block;
    font-family: $body;
    font-size: 16px;
    font-weight: $extra-bold;
    line-height: 1;
    margin: 0 auto;
    padding: 16px 32px;
    transition: 200ms;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 992px) {
        font-size: 20px;
    }

    &:hover {
        text-decoration: none;
    }

    &-1 {
        background-color: $laranja;
        border: 1px solid $dark;
        box-shadow: 3px 3px $dark;
        color: white;

        &:hover {
            background-color: $azul;
            color: white;
        }
    }

    &-2 {
        background-color: white;
        border: 1px solid $dark;
        box-shadow: 3px 3px $dark;
        color: $dark;

        &:hover {
            background-color: $amarelo;
            color: $dark;
        }
    }

    &-small {
        font-size: 16px;
        max-width: 280px;
        width: 100%;

        @media (min-width: 992px) {

        }
    }
}