// components.scss

.carta {
    background: white;
    box-shadow: 3px 3px $cinza;
    height: 100%;
    padding: 32px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

@media (min-width: 992px) {
    .spacer {
        display: block;
        height: 100%;
    }
}

@media (min-width: 992px) {
    .flex {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}