// images.scss

.cover {
    box-shadow: 3px 3px $cinza;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 200px;

    &-author {
        max-width: 240px;
    }

    &-magnet {
        max-width: 280px;
    }

    &-block {
        max-width: 100%;
    }
}