.titulo-1 {
  color: #F16A58;
  font-family: "Mountains of Christmas", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 1px 1px #28324E; }
  @media (min-width: 992px) {
    .titulo-1 {
      font-size: 32px; } }

.titulo-2 {
  color: #F16A58;
  font-family: "Mountains of Christmas", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 1px 1px #28324E; }
  @media (min-width: 992px) {
    .titulo-2 {
      font-size: 24px; } }

.texto-1 {
  color: #28324E;
  font-family: "Karla", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px; }
  @media (min-width: 992px) {
    .texto-1 {
      font-size: 16px; } }

.texto-small {
  font-size: 12px; }
  @media (min-width: 992px) {
    .texto-small {
      font-size: 14px; } }

.citacao-autor {
  color: #F16A58;
  font-family: "Mountains of Christmas", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-shadow: 1px 1px #28324E; }
  @media (min-width: 992px) {
    .citacao-autor {
      font-size: 20px; } }

.citacao-descricao {
  color: #4B77BE;
  font-family: "Karla", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5; }
  @media (min-width: 992px) {
    .citacao-descricao {
      font-size: 12px; } }

.botao {
  border-radius: 0;
  display: block;
  font-family: "Karla", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0 auto;
  padding: 12px 24px;
  transition: 200ms;
  text-align: center; }
  @media (min-width: 992px) {
    .botao {
      font-size: 20px; } }
  .botao:hover {
    background-color: #F4F3B9;
    color: #28324E;
    text-decoration: none; }
  .botao-1 {
    background-color: #F16A58;
    border: 1px solid #28324E;
    box-shadow: 3px 3px #28324E;
    color: white; }
  .botao-2 {
    background-color: white;
    border: 1px solid #28324E;
    box-shadow: 3px 3px #28324E;
    color: #F16A58; }
  .botao-small {
    font-size: 1rem;
    padding: .5rem 2rem; }

.cover {
  box-shadow: 3px 3px #28324E;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 200px; }
  .cover-author {
    max-width: 240px; }
  .cover-magnet {
    max-width: 280px; }
  .cover-block {
    max-width: 100%; }

.carta {
  background: white;
  box-shadow: 3px 3px #28324E;
  height: 100%;
  padding: 32px 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: space-around; }

@media (min-width: 992px) {
  .spacer {
    display: block;
    height: 100%; } }
@media (min-width: 992px) {
  .flex {
    align-items: center;
    display: flex;
    justify-content: space-between; } }
.cabecalho {
  background: linear-gradient(to right, #F16A58 0%, #F4F3B9 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  padding: 16px 0; }

.letreiro {
  background: url(../images/cover-masonry.png), linear-gradient(to right, #f8fcff 0%, #ffffff 100%);
  background-size: cover;
  padding: 64px 0; }
  @media (min-width: 992px) {
    .letreiro {
      padding: 160px 0; } }

.sinopse01 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding: 64px 0; }
  @media (min-width: 992px) {
    .sinopse01 {
      padding: 96px 0; } }

.sinopse02 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding: 64px 0; }
  @media (min-width: 992px) {
    .sinopse02 {
      padding: 96px 0; } }

.sinopse03 {
  padding: 64px 0; }
  @media (min-width: 992px) {
    .sinopse03 {
      padding: 96px 0; } }

.cta {
  background: linear-gradient(to right, #5AA5AC 0%, #E7EBE3 100%);
  padding: 64px 0; }
  .cta .titulo-2 {
    color: white; }
  @media (min-width: 992px) {
    .cta {
      padding: 96px 0;
      text-align: center; } }

.depoimentos {
  background: linear-gradient(to right, #f8fcff 0%, #ffffff 100%);
  padding: 64px 0; }
  @media (min-width: 992px) {
    .depoimentos {
      padding: 96px 0;
      text-align: center; } }

.autor {
  padding: 64px 0; }
  @media (min-width: 992px) {
    .autor {
      padding: 96px 0; } }

.rodape {
  background: linear-gradient(to right, #F16A58 0%, #F4F3B9 100%);
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding: 16px 0; }
  .rodape .texto-1 {
    color: white; }

/*# sourceMappingURL=website.css.map */
