.titulo-1 {
  color: #F16A58;
  font-family: "Mountains of Christmas", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 1px 1px #28324E; }
  @media (min-width: 992px) {
    .titulo-1 {
      font-size: 40px; } }

.titulo-2 {
  color: #F16A58;
  font-family: "Mountains of Christmas", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 1px 1px #28324E; }
  @media (min-width: 992px) {
    .titulo-2 {
      font-size: 32px; } }

.texto-1 {
  color: #28324E;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px; }
  @media (min-width: 992px) {
    .texto-1 {
      font-size: 20px; } }

.texto-small {
  font-size: 12px; }
  @media (min-width: 992px) {
    .texto-small {
      font-size: 14px; } }

.citacao-autor {
  color: #F16A58;
  font-family: "Mountains of Christmas", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-shadow: 1px 1px #28324E; }
  @media (min-width: 992px) {
    .citacao-autor {
      font-size: 24px; } }

.citacao-descricao {
  color: #4B77BE;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5; }
  @media (min-width: 992px) {
    .citacao-descricao {
      font-size: 14px; } }

.botao {
  border-radius: 0;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  margin: 0 auto;
  padding: 16px 32px;
  transition: 200ms;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 992px) {
    .botao {
      font-size: 20px; } }
  .botao:hover {
    text-decoration: none; }
  .botao-1 {
    background-color: #F16A58;
    border: 1px solid #28324E;
    box-shadow: 3px 3px #28324E;
    color: white; }
    .botao-1:hover {
      background-color: #4B77BE;
      color: white; }
  .botao-2 {
    background-color: white;
    border: 1px solid #28324E;
    box-shadow: 3px 3px #28324E;
    color: #28324E; }
    .botao-2:hover {
      background-color: #F4F3B9;
      color: #28324E; }
  .botao-small {
    font-size: 16px;
    max-width: 280px;
    width: 100%; }

.cover {
  box-shadow: 3px 3px #E7EBE3;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 200px; }
  .cover-author {
    max-width: 240px; }
  .cover-magnet {
    max-width: 280px; }
  .cover-block {
    max-width: 100%; }

.carta {
  background: white;
  box-shadow: 3px 3px #E7EBE3;
  height: 100%;
  padding: 32px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: space-around; }

@media (min-width: 992px) {
  .spacer {
    display: block;
    height: 100%; } }
@media (min-width: 992px) {
  .flex {
    align-items: center;
    display: flex;
    justify-content: space-between; } }
.hero {
  background: url(../images/cover-masonry.png), linear-gradient(to right, #f0f8ff 0%, #ffffff 100%);
  background-position: center center;
  background-size: cover;
  padding: 64px 0; }
  @media (min-width: 992px) {
    .hero {
      padding: 160px 0; } }

.book-01 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding: 64px 0; }
  @media (min-width: 992px) {
    .book-01 {
      padding: 96px 0; } }

.book-02 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding: 64px 0; }
  @media (min-width: 992px) {
    .book-02 {
      padding: 96px 0; } }

.book-03 {
  padding: 64px 0; }
  @media (min-width: 992px) {
    .book-03 {
      padding: 96px 0; } }

.cta {
  background: #4B77BE;
  padding: 64px 0; }
  .cta .titulo-1 {
    color: white; }
  @media (min-width: 992px) {
    .cta {
      padding: 96px 0; } }

.testimonials {
  background: linear-gradient(to right, #f0f8ff 0%, #ffffff 100%);
  padding: 64px 0; }
  @media (min-width: 992px) {
    .testimonials {
      padding: 96px 0;
      text-align: center; } }

.author {
  padding: 64px 0; }
  @media (min-width: 992px) {
    .author {
      padding: 96px 0; } }

.footer {
  background: #4B77BE;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding: 16px 0; }
  .footer .texto-1 {
    color: white; }

/*# sourceMappingURL=website.css.map */
